html {
  min-height: 100%;
}

body{
  background: linear-gradient(#3EADCF, #ABE9CD) no-repeat ;
  font-family: 'Cabin', sans-serif; 
}

h1{
  color:white;
}

.title{
  text-align: center;
  font-size: 70px;
  text-transform: uppercase;
}

.sun{
  width: 75px;
  height: auto;
  position: relative;
  top: 11px;
  left: 3px;
}

.App {
  width:60%;
  margin: auto;
}

@media (prefers-reduced-motion: no-preference) {
  .sun {
    animation: sun-spin infinite 45s linear;
  }
}

@keyframes sun-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
